@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;  
    font-family: 'Rubik', sans-serif;
    background-color: #264653;
}

.title{
    color: white;
    top: 100px;
    position: fixed;
    border: 2px solid white;
    padding: 10px 20px;
}

/* Question Container */
.container{
    width: 600px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center; 
} 

/* Answer buttons */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 22px;
    margin: 40px 10px;
}

.question{
    font-weight: bolder;
}

.btn{
    border: 2px solid black;
    padding: 5px 10px;
    outline: none;
    font-weight: bolder;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hide{
    display: none;
}

button:hover{
    background: grey;
}


/* 
Right Answer Container */
h3{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid black;
    bottom:  100px;
    position: fixed;
    padding: 20px 10px;
    background-color: white

}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* Ham Burger Menu */
#btn-ham{
    background-color: white;
    border: none;
    color: black;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem;
}

#btn-ham.active{
    transform: translateX(-100px);
}

nav{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
}

nav ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav.active {
    transform: translateX(0);
}

nav ul li{
    padding: 1rem 0;
}

nav a{
    color: black;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}


/* Footer */
h4 {
    bottom: 20px;
    position: fixed;
}
